.background-type-grass {
  background-color: #63b958;
}

.background-type-fire {
  background-color: #fd7d24;
}

.background-type-water {
  background-color: #4a90da;
}

.background-type-normal {
  background-color: #9da0aa;
}

.background-type-flying {
  background-color: #748fc9;
}

.background-type-bug {
  background-color: #8cb230;
}

.background-type-poison {
  background-color: #a719d7;
}

.background-type-electric {
  background-color: #eed535;
}

.background-type-ground {
  background-color: #dd7748;
}

.background-type-fighting {
  background-color: #d04164;
}

.background-type-psychic {
  background-color: #ea5d60;
}


.background-type-rock {
  background-color: #baab82;
}

.background-type-ice {
  background-color: #61cec0;
}

.background-type-ghost {
  background-color: #556aae;
}

.background-type-dragon {
  background-color: #186fc2;
}

.background-type-dark {
  background-color: #57565e;
}

.background-type-steel {
  background-color: #417d9a;
}

.background-type-fairy {
  background-color: #ed6ec7;
}

.background-2-type-grass,
.background-2-type-grass:hover {
  background-color: #63b958;
}


.background-2-type-fire,
.background-2-type-fire:hover {
  background-color: #fd7d24;
}

.background-2-type-water,
.background-2-type-water:hover {
  background-color: #4a90da;
}

.background-2-type-normal,
.background-2-type-normal:hover {
  background-color: #eaeade;
}

.background-2-type-flying,
.background-2-type-flying:hover {
  background-color: #dce5ea;
}

.background-2-type-bug,
.background-2-type-bug:hover {
  background-color: #d9fe9e;
}

.background-2-type-poison,
.background-2-type-poison:hover {
  background-color: #ca72eb;
}

.background-2-type-electric,
.background-2-type-electric:hover {
  background-color: #f7ff85;
}

.background-2-type-ground,
.background-2-type-ground:hover {
  background-color: #ede193;
}

.background-2-type-fighting,
.background-2-type-fighting:hover {
  background-color: #d36063;
}

.background-2-type-psychic,
.background-2-type-psychic:hover {
  background-color: #f55792;
}

.background-2-type-rock,
.background-2-type-rock:hover {
  background-color: #94834f;
}

.background-2-type-ice,
.background-2-type-ice:hover {
  background-color: #66d1e5;
}

.background-2-type-ghost,
.background-2-type-ghost:hover {
  background-color: #bd98cb;
}

.background-2-type-dragon,
.background-2-type-dragon:hover {
  background-color: #d6b1fe;
}

.background-2-type-dark,
.background-2-type-dark:hover {
  background-color: #916852;
}

.background-2-type-steel,
.background-2-type-steel:hover {
  background-color: #bbc5c4;
}

.background-2-type-fairy,
.background-2-type-fairy:hover {
  background-color: #fdd1e0;
}
