

.cards {
  display: flex;
  padding: 1em;
}

.card {
  margin: 1em;
  padding: 1em;
  cursor: pointer;
  border: 1px solid #eeeeee;
}

.tab-list {
  padding-left: 0;
  border-bottom: 1px solid #cccccc;
}

.tab-list-item {
  display: inline-block;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  list-style: none;
}

.tab-list-active {
  border: solid #cccccc;
  border-width: 1px 1px 0 1px;
  background-color: white;
}

/* POKEDEX */

.type-pill {
  padding: 1em;
  border: 1px solid #ffffff;
}
