/* @font-face {
  font-family: "PressStart2P";

  src: url("PressStart2P.ttf") format("truetype");
} */

* {
  font-family: "Open Sans", sans-serif;
}

/*
    Animations
*/
@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pull-up-center {
  from {
    transform: translateY(50%) translateX(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

@keyframes pull-down-center {
  from {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }

  to {
    transform: translateY(50%) translateX(-50%);
    opacity: 0;
  }
}

@keyframes pull-up {
  from {
    transform: translateY(10%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fill {
  from {
    width: 0;
  }
}

body {
  font-size: 14px;

/* background: #212529; */
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}


/* POKEDEX PAGE */

.pokedex-container {
  max-width: 375px;
  margin: auto !important;
  padding: 1em;
  border: 2px solid #333333;
  background-color: #ffffff;
}

.search-container {
  margin: 1em 0;
}

.pokedex-text {
  font-size: 3em;
  text-align: center;
  color: #444444;
}

.load-more-container {
  margin: 1em 0;
  text-align: center;
}


/* CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 1em;
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
}

.name {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #333333;
}

.detail-wrapper,
.img-container {
  position: relative;
}

.detail-wrapper {
  width: 60%;
}

.detail-wrapper small {
  display: block;
  margin-bottom: 5px;
  color: #bbbbbb;
}

.img-container {
  width: 40%;
  text-align: center;
}

.img-container img {
  z-index: 1;
  width: 100%;
  max-width: 100px;
}

.img-background {
  position: absolute;
  z-index: 0;
  z-index: 0;
  top: 40px;
  left: 22px;
  width: 100px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

.inline-text {
  display: inline-block;
}

.type-button {
  margin-right: 0.5em;
  padding: 0.5em 1em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 20px;
}


/* POKEMON DETAILS PAGE */

.pokemon-container {
  position: relative;
  max-width: 375px;

/* height: 800px; */
  margin: auto;
  border: 2px solid #333333;
  background-color: #ffffff;
}

.pokemon-container .back-button {
  font-size: 20px;
  position: absolute;
  padding: 1em;
  cursor: pointer;
  border: none;
  background: none;
}

.back-button .arrow {
  position: relative;
  display: block;
  --width: 3px;
  width: 1em;
  height: var(--width);
  margin: auto;
  --color: #ffffff;
  background-color: var(--color);
}

.back-button .arrow::after {
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  margin-top: calc(var(--width) * -1.4);
  content: "";
  transform: rotate(225deg);
  border: var(--width) solid var(--color);
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.pokemon-info {
  position: sticky;
  top: 150px;
  padding: 60px 1em;

/* transform: translateY(150px); */
  border-radius: 20px;
  background-color: #ffffff;
}

/* POKEMON DETAILS */

.pokemon-details {
  /* display: flex; */
  text-align: center;
}

.pokemon-details-image {
  position: absolute;
  top: -100px;
  left: 0;

/* width: 150px; */
  width: 100%;
  text-align: center;
}

.pokemon-details-image img {
  max-width: 150px;
}

.pokemon-details-text {
  /* width: 75%; */
}




/* TABS */

.tab-content-container {
  position: relative;
  z-index: 2;
  transform: translateY(90px);
  border-radius: 20px;
  background-color: #ffffff;
}

.tab-container {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
}

.tab-list {
  margin: 0 1em;
  padding-left: 0;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}

.tab-list-item {
  display: inline-block;
  margin-bottom: -1px;
  padding: 1em 2em;
  list-style: none;
  cursor: pointer;
  color: #bbbbbb;
}

.tab-list-active {
  font-weight: 700;
  color: #000000;
  border-bottom: 3px solid #bbbbbb;

/* border: solid #cccccc;
  border-width: 1px 1px 0 1px; */
  background-color: white;
}

.tab-content {
  overflow-y: auto;
  height: 475px;

/* border-top: 1px solid #000000;
  border-bottom: 1px solid #000000; */
  padding: 1em 2em;
}

/* POKEDEX */

.type-pill {
  padding: 1em;
  border: 1px solid #ffffff;
}
